// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  margin-top: 40px;

  .product {
    padding: 15px 10px;
    border-radius: 5px;

    &:hover{ background: #f5f5f2; }

    .product-upvote {
      position: relative;
      float: left;
      text-align: center;
      text-decoration: none;
      margin-right: 20px;
      padding: 5px 5px;
      width: 35px;

      .upvote-arrow {
        border-bottom: 9px solid #534540;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid transparent;
        left: 10px;
        position: absolute;
        top: 0px;
      }

      .upvote-count {
        display: block;
        color: #303030;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        margin-top: 18px;
      }

      &:hover .upvote-arrow { border-bottom-color: #F04500; }

      &.upvote-active {
        .upvote-arrow { border-bottom-color: #F04500; }
        .upvote-count { color: #F04500; }
      }
    }

    .product-img {
      float: left;
      margin-right: 30px;

      img {
        border-radius: 3px;
        width: 100px;
        height: 57px
      }
    }

    .product-details {
      float: left;
      width: 70%;

      .product-title a {
        display: block;
        color: #303030;
        font-size: 21px;
        line-height: 1;

        &:hover, &:focus { color: #F04500; text-decoration: none; }
      }
      .product-description {
        width: 80%;
        color: #999;
        font-size: 16px;
        text-align: justify;
      }
    }

    .product-comments {
      float: right;
      color: #ccc;
      padding: 10px;

      .glyphicon { font-size: 21px; }
      .comment-count {
        margin-left: 15px;
        font-size: 18px;
        vertical-align: text-bottom;
      }
    }
  }
}
.product-page {
  .product-header {

    background: #303030;
    color: #fafaf2;
    text-align: center;
    padding: 100px 25px;
    margin-top: 0;
    margin-bottom: 30px;

    h1 {
      font-size: 32px;
      margin-top: 0;
    }

    p {
      font-size: 18px;
      color: #ddd;
      margin-top: 15px;
      margin-bottom: 40px;
    }

    .btn-primary {
      font-size: 18px;
      font-weight: bold;
    }

    .actions {
      margin-top: 30px;
      .social-share-button {
        .ssb-icon {
          margin: 10px;
          background-size: 26px 26px;
          height: 26px;
          width: 26px;
        }
      }
      a {
        color: #ccc;
        font-size: 21px;
        margin-right: 5px;

        &:hover { color: white; }
      }
    }
  }

  .votes {
    margin-bottom: 40px;
    padding: 0 25px;

    h2 {
      color: #666;
      font-size: 16px;
      margin-bottom: 20px;
    }

    img { width: 40px; }
  }

  .comments {
    padding: 0 25px;

    h2 {
      color: #666;
      font-size: 16px;
      margin-bottom: 20px;
    }

    img {
      width: 25px;
      margin: -3px 10px 0 -3px;
    }
  }
}
